#XyGod_AutoTranslate_WordWrap.XyGod_AutoTranslate_WordWrap * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
#XyGod_AutoTranslate_WordWrap {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99999999 !important;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	svg {
		width: 100%;
		height: 100%;
		color: inherit;
		fill: currentColor;
		stroke: currentColor;
		stroke-width: 0;
	}
	&.XyGod_AutoTranslate_hide {
		display: none;
	}
	--red: #f00056;
	--black: #424c50;
	// --black: #161823;
	--white: #ffffff;
	.XyGod_AutoTranslate_wordCard_wrap {
		width: fit-content;
		min-width: 130px;
		max-width: var(--max_width);
		height: fit-content;
		min-height: var(--min_height);
		max-height: 300px;
		background-color: antiquewhite;
		// background: #161823;
		position: relative;
		display: flex;
		flex-direction: column;
		overflow: hidden;
		text-overflow: ellipsis;
		--max_width: 200px;
		--min_height: 30px;

		.XyGod_AutoTranslate_card {
			width: fit-content;
			min-width: 130px;
			max-width: var(--max_width);
			height: fit-content;
			padding: 0 30px 5px 5px;
		}

		.XyGod_AutoTranslate_setting_card {
			position: absolute;
			right: 5px;
			top: 5px;
			.XyGod_AutoTranslate_like_wrap {
				width: 20px;
				height: 20px;
				position: block;
				.XyGod_AutoTranslate_like_btn {
					color: var(--red);
				}
				.XyGod_AutoTranslate_icon {
					width: 100%;
					height: 100%;
					cursor: pointer;
					display: block;
					&.XyGod_AutoTranslate_hide {
						display: none;
					}
				}
			}
		}
		.XyGod_AutoTranslate_origin_card {
			color: #161823;
			word-wrap: break-word;
		}
		.XyGod_AutoTranslate_translate_card {
			color: #161823;
			font-size: 1em;

			word-wrap: break-word;
			border-radius: 5px;
		}
	}
}
